body{
    font-family: "Roboto-Thin", sans-serif;
    font-size: 16px;
    position: relative;
    background: white;
}

header{
    width: 100%;
    background: black;
    height: 50px;
    position: relative;
    z-index: 90;
    top: 0px;
}

.headTitle{
    display: none;
}

.menuMovil{
    width: 35px;
	height: 35px;
	margin: 0px;
	position: absolute;
	top: 0px;
	cursor: pointer;
    overflow: hidden;
    padding: .3em;
    
}
.prev_page{
	right: 35px;
}
.next_page{
	right: 5px;
}

.menuIcon{
    height: 100%;
}

.cardMenu{
    position: relative;
    width: 250px;
    background: black;
    top: 0px;
    border-right: 4px solid #CCCCD9;
    border-bottom: 4px solid #CCCCD9;
    padding-bottom: 50px;
    z-index: 90;
}

.menuLogoContainer{
    height: 180px;
    width: 80%;
    margin: 0px;
    margin-left: 10%;
    margin-bottom: 65px;
    position: relative;
    top: 35px;
}
.menuLogo{
    width: 100%;
}

.menuList{
    margin-top: 0px;
    padding-left: 6px;
}
.listItem{
    list-style-type: none;
    font-size: 1.5em;
    line-height: 40px;
    padding: .5em 0em;
    cursor: pointer;
    border-top: 1px solid rgba(204,204,217,.3);
}
.listItem:nth-last-child(1){
    border-bottom: 1px solid rgba(204,204,217,.3);

}
.linkItem{
    text-decoration: none;
    color: white;
}

.i01::before{
    font-family: 'icomoon';
    content: "\e905";
    margin: 0em .4em;
    color: #CCCCD9;
}
.i02::before{
    font-family: 'icomoon';
    content: "\e9d9";
    margin: 0em .4em;
    color: #CCCCD9;
}
.i03::before{
    font-family: 'icomoon';
    content: "\e900";
    margin: 0em .4em;
    color: #CCCCD9;
}
.i04::before{
    font-family: 'icomoon';
    content: "\e901";
    margin: 0em .4em;
    color: #CCCCD9;
}

.prev_page,
.next_page{
    display: none;
    width: 10%;
	top: -19px;
	left: -19px;
    position: relative;
    background: red;
}

.prev_page{
    right: 60px;
}
.next_page{
    right: 0px;
}

.prev_arrow,
.next_arrow{
    background: blue;
    position: relative;
    width: 100%;
    top: -25px;
    right: 25px;
}

.next_arrow{
    transform: rotate(180deg)
}

@media screen and (min-width: 480px){
    body{
        background: orange
    }

}
@media screen and (min-width: 600px){
    body{
        background: yellow
    }

}
@media screen and (min-width: 767px){
    body{
        background: green;
    }
}
@media screen and (min-width: 950px){
    body{
        background: blue
    }

}