body{
    font-family: "Roboto-Thin", sans-serif;
    font-size: 16px;
    position: relative;
    background: white;
}

header{
    width: 100%;
    background: black;
    height: 50px;
    position: relative;
    z-index: 90;
    top: 0px;
}

.headTitle{
    display: none;
    font-family: 'Coolvetica', sans-serif;
}

.menuMovil{
    width: 35px;
	height: 35px;
	margin: 0px;
	position: absolute;
	top: 0px;
	cursor: pointer;
    overflow: hidden;
    padding: .3em;
    
}
.prev_page{
	right: 35px;
}
.next_page{
	right: 5px;
}

.menuIcon{
    height: 100%;
}

.cardMenu{
    display: none;
    position: relative;
    width: 250px;
    background: black;
    top: 0px;
    border-right: 4px solid #CCCCD9;
    border-bottom: 4px solid #CCCCD9;
    padding-bottom: 50px;
    z-index: 100;
}

.menuLogoContainer{
    height: 180px;
    width: 80%;
    margin: 0px;
    margin-left: 10%;
    margin-bottom: 65px;
    position: relative;
    top: 35px;
}
.menuLogo{
    width: 100%;
}

.menuList{
    margin-top: 0px;
    padding-left: 6px;
}
.listItem{
    list-style-type: none;
    font-size: 1.5em;
    line-height: 40px;
    padding: .5em 0em;
    border-top: 1px solid rgba(204,204,217,.3);
}
.listItem:nth-last-child(1){
    border-bottom: 1px solid rgba(204,204,217,.3);

}
.linkItem{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.i01::before{
    font-family: 'icomoon';
    content: "\e905";
    margin: 0em .4em;
    color: #CCCCD9;
}
.i02::before{
    font-family: 'icomoon';
    content: "\e9d9";
    margin: 0em .4em;
    color: #CCCCD9;
}
.i03::before{
    font-family: 'icomoon';
    content: "\e900";
    margin: 0em .4em;
    color: #CCCCD9;
}

.prev_page,
.next_page{
    height: 40px;
    width: 40px;
    position: absolute;
    margin: 5px;
    top: 0px;
    overflow: hidden;
    cursor: pointer;
}

.prev_page{
    right: 55px;
}
.next_page{
    right: 5px;
}

.prev_arrow,
.next_arrow{
    position: relative;
    width: 250%;
    top: -30px;
    right: 30px;
}
.next_arrow{
    transform: rotate(180deg)
}

.footer{
    width: 100%;
    height: 80px;
    z-index: 80;
    background: black;
    position: fixed;
    bottom: 0px;
    text-align: center;
    color: white;
    margin-top: 30px;
}


.footer-rrss{
    display: inline-block;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    align-content: center;
}

.rrss{
    color:#CCCCD9;
    text-decoration: none;
    margin: 0px 10px;
    padding: 10px 10px;
    vertical-align: middle;
}
.rs01::before{
    font-family: 'icomoon';
    content: "\e901";
    font-size: 1.4em;
    vertical-align: middle;
}
.rs02::before{
    font-family: 'icomoon';
    content: "\e904";
    font-size: 1.4em;
    vertical-align: middle;
}

.footerText{
    font-size: .8em;
}

/*div de paginas*/
.page_sections{
    width: 100%;
    position: relative;
    top: 0px;
}
/*Todas las página*/
.page{
    position: absolute;
	width: 100%;
	top: 0px;
    left: 0px;
    height: 600px;
}

.home{
    background: red;
}
.about{

    background: yellowgreen;
}
.what{

    background: yellow;
}


@media screen and (min-width: 480px){


}
@media screen and (min-width: 600px){
    .rrss{
        font-size: 1.2em;
    }
    .footerText{
        font-size: .9em;
    }

}
@media screen and (min-width: 767px){
    .menuMovil,
    .prev_page,
    .next_page,
    .cardMenu figure{
        display: none;
    }
    .i01::before,
    .i02::before,
    .i03::before,
    .listItem:nth-last-child(1){
        content: "";
        border: none;
    }
    
    header{
        height: 65px;
    }

    .headTitle{
        display: inline-block;
        width: 20%;
        margin: 0px;
        height: 60px;
        line-height: 50px;
        margin-left: 25px;
        min-width: 200px;
        padding-right: 0px;
    }
    .headTitle > *{
        display: inline-block;
        vertical-align: middle;
        text-decoration: none;
        color: white;
        font-size: .7em;
        margin: 0px 2px;
    }
    .headerLogoContainer{
        height: 40px;
        width: 40px;
        margin: 0px;
    }
    .headerLogo{
        width: 100%;
    }

    /*nav*/
    .mainMenu{
        display: inline-block;
        vertical-align: middle;
        position: relative;
        width: 70%;
    }
    /*div del menu*/
    .cardMenu{
        display: inline-block;
        background: none;
        border: none;
        width: 100%;
        margin: 0px;
        padding: 0px;
        text-align: right;
    }
    /*ul*/
    .menuList{
        margin: 0px;
        padding-left: 0px;
        
    }
    
    /*li*/
    .listItem{
        display: inline-block;
        border: none;
        width: 140px;
        text-align: center;
        font-size: 1em;
        margin: 0px -5px;
        padding: 0px;
        vertical-align: middle;
    }
    .i01{
        margin-left: 10px
    }
}
@media screen and (min-width: 950px){
    body{
        background: blue
    }
    .headTitle{
        margin-left: 40px;
    }
    .headTitle>*{
        font-size: .9em;
    }
    .headerLogoContainer{
        height: 45px;
        width: 45px;
    }
    .listItem{
        width: 155px;
        font-size: 1.1em;
    }

}